<% if flash.now[:notice] %>
  <p class="notice"><%= flash.now[:notice] %></p>
<% end %>

<div class="room-detail-content">
  <div class="room-detail-navigator">
    <p><%= link_to "戻る", :back %></p>
    <% if logged_in? && current_user.id == @room.user_id %>
      <div><%= link_to "編集", edit_room_path(@room) %></p>
    <% end %>
  </div>

  <div class="room-detail">
    <div class="room-detail-image">
      <% if @room.image.attached? %>
        <%= link_to image_tag(@room.image, class: 'image-150x150 image-contain'), room_path(@room) %>
      <% else %>
        <%= link_to image_tag('default_room_image', class: 'image-150x150 image-contain'), room_path(@room) %>
      <% end %>
    </div>

    <div class="room-detail-text">
      <p><%= @room.name %></p>
      <p><%= @room.address %></p>
      <p><%= @room.introduction %></p>
      <p>¥<%= @room.price.to_s(:delimited) %>/日</p>
      <div class="room-reserve">
        <p>チェックイン</p>
        <p>チェックアウト</p>
        <p>人数</p>
        <p>予約する</p>
      </div>
    </div>
  </div>
</div>
